/* fills main page */
/* logo color #000000 and #2196F3 */
/* h2.. color #212121 */
/* p color #757575 */
/*acent color #2196F3 */
/* tel color #757575 */
/* hero color H1 #FFFFFF */
/*button text color #FFFFFF */
/*footer logo color #2196F3 #FFFFFF */
/*footer adress colors #FFFFFF* rgba(255, 255, 255, 0.6) (mail tel)*/
/* hero, footer bcg #2F303A */

:root {
    --bgc-secondary: #2F303A;
    --logo: #2196F3;
    --accent-logo-header: #000000;
    --accent-logo-footer: #FFFFFF;
    --nav-main: #212121;
    --nav-accent: #2196F3;
    --contacts-main: #757575;
    --hero-heading: #FFFFFF;
    --button-bgc-active: #2196F3;
    --button-name-active: #FFFFFF;
    --button-bgc: #F5F4FA;
    --button-name: #212121;
    --heading-main: #212121;
    --paragraph-main: #757575;
    --address-footer: #FFFFFF;
    --contacts-footer: rgba(255, 255, 255, 0.6);
}

/*index styles*/

body {
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.logo {
    color: var(--logo);
}

.logo--accent {
    color: var(--accent-logo-header);
}

.site-nav__link {
    color: var(--nav-main);
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link:active,
.site-nav__link-current {

    color: var(--nav-accent);
}

.header-contacts__mail,
.header-contacts__tel {
    color: var(--contacts-main);
}

.header-contacts__mail:hover,
.header-contacts__mail:focus,
.header-contacts__mail:active,
.header-contacts__tel:hover,
.header-contacts__tel:focus,
.header-contacts__tel:active {
    color: var(--nav-accent);
}

.hero {
    background-color: var(--bgc-secondary);
}

.hero__heading {
    color: var(--hero-heading);
}

.hero__button {
    background-color: var(--button-bgc-active);
    color: var(--button-bgc);
}

.features-list__heading {
    color: var(--heading-main);
}

.features-list__paragraph {
    color: var(--paragraph-main);
}

.works__heading {
    color: var(--heading-main);
}

.team__heading {
    color: var(--heading-main);
}

.team-list__heading {
    color: var(--heading-main);
}

.team-list__paragraph {
    color: var(--paragraph-main);
}

.footer {
    background-color: var(--bgc-secondary);
}

.footer__logo {
    color: var(--logo);
}

.footer__logo--accent {
    color: var(--accent-logo-footer);
}

.footer-address__address {
    color: var(--address-footer);
}

.footer-contacts__mail,
.footer-contacts__tel {
    color: var(--contacts-footer);
}

.footer-contacts__mail:hover,
.footer-contacts__mail:focus,
.footer-contacts__mail:active,
.footer-contacts__tel:hover,
.footer-contacts__tel:focus,
.footer-contacts__tel:active {
    color: var(--nav-accent);
}

/*portfolio styles*/

.portfolio_button {
    background-color: var(--button-bgc-active);
    color: var(--button-name-active);
}

.portfolio-list__heading {
    color: var(--heading-main);
}

.portfolio-list__paragraph {
    color: var(--paragraph-main);
}