/* fills main page */
/* logo color #000000 and #2196F3 */
/* h2.. color #212121 */
/* p color #757575 */
/*acent color #2196F3 */
/* tel color #757575 */
/* hero color H1 #FFFFFF */
/*button text color #FFFFFF */
/*footer logo color #2196F3 #FFFFFF */
/*footer adress colors #FFFFFF* rgba(255, 255, 255, 0.6) (mail tel)*/
/* hero, footer bcg #2F303A */

:root {
    --bgc-secondary: #2F303A;
    --logo: #2196F3;
    --accent-logo-header: #000000;
    --accent-logo-footer: #FFFFFF;
    --nav-main: #212121;
    --nav-accent: #2196F3;
    --contacts-main: #757575;
    --hero-heading: #FFFFFF;
    --button-bgc-active: #2196F3;
    --button-name-active: #FFFFFF;
    --button-bgc: #F5F4FA;
    --button-name: #212121;
    --heading-main: #212121;
    --paragraph-main: #757575;
    --address-footer: #FFFFFF;
    --contacts-footer: rgba(255, 255, 255, 0.6);
}

html {
    box-sizing: border-box;
    /*calculation of geometry*/

}

*,
*::before,
*::after {
    box-sizing: inherit;
    /*calculation of geometry*/
}

body {
    background-color: #FFFFFF;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    margin: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    display: flex;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.site-nav__list {
    display: flex;
}

.header-contacts__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.logo {
    color: var(--logo);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;

    outline: 1px solid tomato;

    display: inline-block;
}

.logo--accent {
    color: var(--accent-logo-header);

    display: inline-block;
    margin-right: 93px;
}

.site-nav__list {
    margin: 0px;
    padding: 0px;
}

.site-nav__link {
    color: var(--nav-main);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    outline: 1px solid tomato;
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link:active,
.site-nav__link-current {

    color: var(--nav-accent);
}

.header-contacts__mail,
.header-contacts__tel {
    color: var(--contacts-main);

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    outline: 1px solid tomato;
}

.header-contacts__mail:hover,
.header-contacts__mail:focus,
.header-contacts__mail:active,
.header-contacts__tel:hover,
.header-contacts__tel:focus,
.header-contacts__tel:active {
    color: var(--nav-accent);
}

.hero {
    background-color: var(--bgc-secondary);

}

.hero__heading {
    color: var(--hero-heading);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    display: inline-block;
    padding: 0px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;

    outline: 1px solid tomato;
}

.hero__button {
    background-color: var(--button-bgc-active);
    color: var(--button-bgc);
    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;


}

.features-list {
    outline: 1px solid tomato;
}

.features-list__heading {
    color: var(--heading-main);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    outline: 1px solid tomato;
}

.features-list__paragraph {
    color: var(--paragraph-main);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    outline: 1px solid tomato;
}

.works__heading {
    color: var(--heading-main);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    outline: 1px solid tomato;
}

.team__heading {
    color: var(--heading-main);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    outline: 1px solid tomato;
}

.team-list__heading {
    color: var(--heading-main);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    /* text-align: center; */
    letter-spacing: 0.03em;

    outline: 1px solid tomato;
}

.team-list__paragraph {
    color: var(--paragraph-main);

    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    /* text-align: center; */
    letter-spacing: 0.03em;

    outline: 1px solid tomato;
}

.footer {
    background-color: var(--bgc-secondary);

    outline: 1px solid tomato;
}

.footer__logo {
    color: var(--logo);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;

    outline: 1px solid tomato;

    display: inline-block;
}

.footer__logo--accent {
    color: var(--accent-logo-footer);
}

.footer-address__address {
    color: var(--address-footer);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    outline: 1px solid tomato;
}

.footer-contacts__mail,
.footer-contacts__tel {
    color: var(--contacts-footer);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    outline: 1px solid tomato;
}

.footer-contacts__mail:hover,
.footer-contacts__mail:focus,
.footer-contacts__mail:active,
.footer-contacts__tel:hover,
.footer-contacts__tel:focus,
.footer-contacts__tel:active {
    color: var(--nav-accent);
}

/**************************************************PORTFOLIO STYLES**************************************************/

.portfolio_button {
    background-color: var(--button-bgc-active);
    color: var(--button-name-active);
    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-list__heading {
    color: var(--heading-main);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
}

.portfolio-list__paragraph {
    color: var(--paragraph-main);

    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
}